/*----------FONTE----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*----------VARIÁVEIS GLOBAIS----------*/
:root{
    --cor-primaria: #;
    --cor-primaria-escura: #;
    --cor-bg: #f5f7fa;
    --cor-branco: #fff;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0,0,0,0.15);
    --cor-texto: #333;

    --fonte: 'Roboto', sans-serif;

    --raio: 0.8rem;
    --transition: 0.3s ease;
}